body {
    background-image: url('https://media.istockphoto.com/id/1398457995/es/vector/bandera-de-fondo-argentina.jpg?s=612x612&w=0&k=20&c=lks5qOvW3xbJdw1gPwpoNH-8nbeAr0qs_uy1M5fFaiE='); /* Reemplaza con la ruta de tu imagen */
        background-size: cover; /* Asegura que la imagen cubra todo el fondo */
        background-position: center; /* Centra la imagen */
    }

    h1 { color: white;
        background-color: black;
}